@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  font-family: "DM Sans", sans-serif;
}

body {
  height: 100vh;
  background: #fafafa;
}

input:focus, textarea:focus, select:focus{
  outline: 2px solid #E5E7EB;
  outline-offset: 0;
}

.layout {

  display: grid;
  grid:
    "header header header" auto
    "leftSide body rightSide" 3fr
    ". . ." auto
    / auto 1fr auto;
}

.header { grid-area: header; }
.leftSide { grid-area: leftSide; }
.body { grid-area: body; padding: 30px; }
.rightSide {grid-area: rightSide; padding: 30px; }

